.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

input, button {
  margin: 10px;
  padding: 5px;
}

.container{
  word-wrap: break-word; 
  overflow-wrap: break-word;
}


.password-container {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}


@media (max-width: 768px) {
    .password-container {
        padding: 10px;
        font-size: 14px; 
    }
}
